#Name {
 font-size: 146%;
 font-style: italic;
}
#PrixTOT {
 font-size: 24px;
 font-weight: 600;
}
#reserv {
 visibility: hidden;
}
#boutton1 {
 visibility: visible ;
}
#boutton2 {
 visibility: visible;
}